body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.box {
    text-align: center;
}

h1 {
    padding-bottom: 10px;
}

button {
    height: 45px;
    padding: 0px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 700;
    color: white;
    background-color: green;
    animation: blink-btn 0.4s ease infinite alternate;
}

button:hover{
    animation: none;
}

@keyframes blink-btn {
    0% { background-color: #000000;}
    100% { background-color: #008000;}
}
