body {
    height: 650px;
}

.form {
    width: 350px;
}

a {
    display: block;
    display: inline;
    text-decoration: none;
    color: black
}

span {
    font-weight: bold;
}

span:hover {
    text-decoration: underline;
}
